nav {
  background-color: #4dabf5;
}

.navbar-brand:hover {
  color: white;
}

.navbar {
  border-bottom: 1px solid black;
}

.nav-link {
  text-align: center;
}

a:hover,
.nav-link:hover {
  color: black;
}

#navbarSupportedContent {
  align-items: center;
  justify-content: space-around;
}

.dropdown-item {
  color: black !important;
}

.form-control {
  border: 1px solid black;
}

.active {
  border-bottom: 2px solid white;
  font-weight: bold;
}

@media (min-width: 375px) {
  form {
    visibility: hidden;
  }
}

@media (min-width: 768px) {
  form {
    visibility: visible;
  }
}

@media (min-width: 1920px) {
  form {
    width: 60%;
  }
}
