nav {
  background-color: #4dabf5;
}

.navbar {
  border-bottom: 1px solid black;
}

a,
.nav-link {
  color: white;
}

a:hover,
.nav-link:hover {
  color: black;
}

#navbarSupportedContent {
  align-items: center;
  justify-content: space-around;
}

.dropdown-item {
  color: black !important;
}

.form-control {
  border: 1px solid black;
}
