<nav class="navbar navbar-expand-md navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="">CapStone</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="mt-sm-2" id="nav-form">
        <input
          class="form-control"
          type="search"
          id="searchDescription"
          placeholder="Search Issues"
          aria-label="Search Issues"
        />
      </form>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="issues">Issues</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="add-issue">Add Issue</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Profile
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="sign-in">Sign-In</a></li>
            <li><a class="dropdown-item" routerLink="register">Register</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
