<div class="row">
  <app-customize></app-customize>
</div>
<div class="row" *ngIf="userAuthenticated">
  <h4>Hello {{ username }}! Please find the below issues</h4>
</div>
<div class="row mobileSearch text-center">
  <form class="mt-sm-2" id="nav-form-mobile">
    <input
      class="form-control"
      type="search"
      [(ngModel)]="searchDescriptionMobile"
      (change)="onSearch()"
      name="searchDescriptionMobile"
      id="searchDescriptionMobile"
      placeholder="Search Issues Description"
      aria-label="Search Issues"
    />
  </form>
</div>
<div class="row">
  <div class="cards">
    <div
      class="card m-2"
      *ngFor="let issue of (issues | async).issues; let i = index"
    >
      <h5 class="card-header text-center">{{ issue.issueTitle }}</h5>
      <h6 class="card-subtitle mt-2 text-wrap text-muted text-center">
        {{ issue.issueDescription }}
      </h6>
      <div class="card-body">
        <h5 class="card-title" *ngIf="issueSeverityFlag">
          Severity: {{ issue.issueSeverity }}
        </h5>
        <p class="card-text" *ngIf="issueStatusFlag">
          <span class="fw-bold">Status: </span>
          <span class="text-muted">{{ issue.issueStatus }}</span>
        </p>
        <p class="card-text" *ngIf="issueCreatedDateFlag">
          <span class="fw-bold">Created: </span>
          <span class="text-muted">{{
            issue.createdDate | date: "fullDate"
          }}</span>
        </p>
        <p class="card-text" *ngIf="issueResolvedDateFlag">
          <span class="fw-bold">Resolved: </span>
          <span class="text-muted">{{
            issue.resolvedDate | date: "fullDate"
          }}</span>
        </p>
        <a
          class="btn btn-outline-primary w-100"
          (click)="navigateToIssueDetails(i)"
          >View Details</a
        >
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <app-charts></app-charts>
  </div>
  <div class="col-lg-6">
    <app-doughnut-chart></app-doughnut-chart>
  </div>
</div>
